form {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid black;
}

button {
  height: 30px;
  width: 80px;
}

button:disabled {
  background: #ccc;
}

body {
  margin: 0;
  padding: 0;
}

label {
  display: block;
  margin-bottom: 15px;
}

input {
  padding: 5px;
}

.error {
  background-color: red;
}

.submit {
  background-color: green;
}

.center, .North, .East, .South, .West {
  display: none;
}

.none {
  display: none;
}