body {
  margin: 0;
}

select {
  width: 300px;
  overflow: hidden;
}

#selectCity {
  display: none;
}

hr {
  color: #fff;
  size: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}